/*@font-face {
	src: url(/fonts/Stag-Sans-Medium.otf);
	font-family: stag;

}*/

* {
	font-family: 'Roboto', sans-serif;
	font-family: 'Roboto Slab', serif;
}


body {
	background: pink;
}

/*in paragraph add font-family to*/